<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>المسافرون</title>
    <script>
        window.travel_id = "<%= travel_id %>"
        // console.log(window)

    </script>

</head>

<body id="body">
    <%- include('partials/nav-bar.ejs') %>
        <main>
            <section class="heading-section">
                <h1 class="page_title">
                    المسافرون
                </h1>
            </section>
            <% if(travel_id !="all" ) { %>
                <section style="text-align: center;">
                    <img id="preview_image"
                        src="https://res.cloudinary.com/di7s8y6pm/image/upload/v1752938562/samples/people/profile_butbzc.png"
                        alt="preview image" height="100px">
                    <div id="not_found_error" class="error">
                        <button onclick="document.getElementById('not_found_error').style.display = 'none'">X</button>
                        <h2>المسافر موجود سلفا</h2>
                    </div>

                    <form method="post" id="travelerForm" enctype="multipart/form-data">

                        <label>
                            <i class="fa-solid fa-arrow-up-from-bracket"></i> إرفع صورة
                            <input style="display: none;" type="file" name="image" id="image" accept="image/*">
                        </label>

                        <input required type="text" name="name" id="name" placeholder="إسم المسافر">
                        <input type="text" name="n_id" id="n_id" placeholder="رقم البطاقة الوطنية">
                        <input required type="text" name="passport_number" id="passport_number"
                            placeholder="رقم جواز السفر">
                        <select name="makkah_hotel" id="makkah_hotel">
                            <option value="<%= travel.madina_hotel %>">
                                <%= travel.makkah_hotel %>
                            </option>
                            <% hotels.forEach(function(hotel){ %>
                                <% if(hotel.hotel_city==='مكة' && hotel.hotel_name !=travel.makkah_hotel ) { %>
                                    <option value="<%= hotel.hotel_name %>">
                                        <%= hotel.hotel_name %>
                                    </option>
                                    <% } %>

                                        <% }) %>
                        </select>
                        <select name="madina_hotel" id="madina_hotel">
                            <option value="<%= travel.madina_hotel %>">
                                <%= travel.madina_hotel %>
                            </option>
                            <% hotels.forEach(function(hotel){ %>
                                <% if(hotel.hotel_city==='المدينة' && hotel.hotel_name !=travel.madina_hotel ) { %>
                                    <option value="<%= hotel.hotel_name %>">
                                        <%= hotel.hotel_name %>
                                    </option>
                                    <% } %>

                                        <% }) %>
                        </select>
                        <select name="room_type" id="room_type">
                            <option selected disabled value="سداسية">
                                نوع الغرفة
                            </option>
                            <option value="سداسية">
                                سداسية
                            </option>
                            <option value="رباعية">
                                رباعية
                            </option>
                            <option value="ثنائية">
                                ثنائية
                            </option>
                            <option value="فردية">
                                فردية
                            </option>
                        </select>
                        <button type="submit"><i class="fa-solid fa-plus"></i>أضف مسافر</button>
                    </form>
                </section>

                <% } %>


                    <section id="preview-section" style="display: none;">
                        <% travelers.forEach(function(traveler) { %>

                            <div class="card">
                                <img class="logo" src="/images/logo-1.png" alt="">
                                <div class="card-img">
                                    <img src="<%= traveler.image %>" alt="Avatar" height="80%" style="margin: auto;">
                                </div>

                                <div class="card-container">
                                    <table dir="rtl">
                                        <tbody>
                                            <tr style="height: 10px;">
                                                <td>
                                                    <p>إسم المسافر: </p>

                                                </td>
                                                <td>
                                                    <p>
                                                        <%= traveler.name %>
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    رقم جواز السفر:
                                                </td>
                                                <td>
                                                    <h4><b>
                                                            <%= traveler.passport_number %>
                                                        </b>
                                                    </h4>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    فندق مكة المكرمة:
                                                </td>
                                                <td>
                                                    <h4><b>
                                                            <%= traveler.makkah_hotel %>
                                                        </b>
                                                    </h4>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    فندق المدينة المنورة:
                                                </td>
                                                <td>
                                                    <h4><b>
                                                            <%= traveler.madina_hotel %>
                                                        </b>
                                                    </h4>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    إسم المشرف:
                                                </td>
                                                <td>
                                                    <h4><b>
                                                            <%= supervisor.name %>
                                                        </b>
                                                    </h4>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    هاتف المشرف:
                                                </td>
                                                <td>
                                                    <h4><b>
                                                            <%= supervisor.saudi_tel %>
                                                        </b>
                                                    </h4>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                            <% }) %>
                    </section>
                    <%- include('partials/print.ejs') %>
                        <section>
                            <table id="main_table">
                                <thead>
                                    <tr>
                                        <th>الصورة الشخصية</th>
                                        <th>الإسم</th>
                                        <th>رقم البطاقة الوطنية</th>
                                        <th>جواز السفر</th>
                                        <th>فندق مكة</th>
                                        <th>فندق المدينة</th>
                                        <th>نوع الغرفة</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% travelers.forEach(function(traveler, i) { %>
                                        <tr id="row-<%= traveler._id %>">
                                            <td class="traveler_image">
                                                <img src="<%= traveler.image %>" alt="img">
                                            </td>
                                            <td class="traveler_name">
                                                <%= traveler.name %>
                                            </td>
                                            <td class="traveler_n_id">
                                                <%= traveler.n_id %>
                                            </td>
                                            <td class="passport_number">
                                                <%= traveler.passport_number %>
                                            </td>
                                            <td class="makkah_hotel">
                                                <%= traveler.makkah_hotel %>
                                            </td>
                                            <td class="madina_hotel">
                                                <%= traveler.madina_hotel %>
                                            </td>
                                            <td>
                                                <%= traveler.room_type %>
                                            </td>
                                            <td>
                                                <button type="button" class="btn edit-btn"
                                                    onclick="Edit_Traveler('<%= traveler._id %>')"><i
                                                        class="fa-regular fa-pen-to-square"></i></button>
                                                <button type="button" class="btn"
                                                    onclick="deleteTravel('<%= traveler._id %>')"><i
                                                        class="fa-regular fa-trash-can"></i></button>
                                            </td>

                                        </tr>

                                        <!-- Edit Row -->
                                        <tr id="edit-<%= traveler._id %>" style="display: none;">
                                            <td>
                                                <input type="file" name="image-<%= traveler._id %>"
                                                    id="image-<%= traveler._id %>" accept="image/*"
                                                    style="display: none;">
                                                <label for="image-<%= traveler._id %>">upload</label>
                                            </td>
                                            <td>
                                                <input type="text" name="" id="name" value="<%= traveler.name %>">
                                            </td>
                                            <td>
                                                <input type="text" name="" id="n_id" value="<%= traveler.n_id %>">
                                            </td>
                                            <td>
                                                <input type="text" id="passport_number"
                                                    value="<%= traveler.passport_number %>">
                                            </td>
                                            <td>
                                                <select name="makkah_hotel" id="makkah_hotel-<%= traveler._id %>">
                                                    <% hotels.forEach(function(hotel) { %>
                                                        <% if (hotel.hotel_city==='مكة' ) { %>
                                                            <option value="<%= hotel.hotel_name %>">
                                                                <%= hotel.hotel_name %>
                                                            </option>
                                                            <% } %>
                                                                <% }) %>
                                                </select>
                                            </td>
                                            <td>
                                                <select name="madina_hotel" id="madina_hotel-<%= traveler._id %>">
                                                    <% hotels.forEach(function(hotel) { %>
                                                        <% if (hotel.hotel_city==='المدينة' ) { %>
                                                            <option value="<%= hotel.hotel_name %>">
                                                                <%= hotel.hotel_name %>
                                                            </option>
                                                            <% } %>
                                                                <% }) %>
                                                </select>
                                            </td>
                                            <td>
                                                <select name="room_type" id="room_type-<%= traveler._id %>">
                                                    <option selected disabled value="سداسية">
                                                        نوع الغرفة
                                                    </option>
                                                    <option value="سداسية">
                                                        سداسية
                                                    </option>
                                                    <option value="رباعية">
                                                        رباعية
                                                    </option>
                                                    <option value="ثنائية">
                                                        ثنائية
                                                    </option>
                                                    <option value="فردية">
                                                        فردية
                                                    </option>
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn" onclick="Confirm_Edit('<%= traveler._id %>')">
                                                    <i class="fa-regular fa-square-check"></i>
                                                </button>
                                            </td>
                                            <% }); %>
                                        </tr>

                                </tbody>

                            </table>
                        </section>


        </main>

        <script src="/js/travelers.js"></script>

</body>

<style>
    #preview-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        display: none;
    }

    .card {
        width: 33%;
        min-height: 372px;
        margin: 0;
        border: 1px dashed black;
        overflow: hidden;
        align-items: center;
        direction: rtl;
        position: relative;
    }

    .card-img {
        height: 100px;
        width: 80%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-self: center;
        margin: auto;
        padding-top: 20px;
    }

    .card-img img {
        border: 4px solid white;
        border-radius: 12px;
    }


    /* Add some padding inside the card container */
    .card-container {
        height: 220px;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-container table {
        height: 100px;
        /* or your desired value */
        font-size: 0.9em;
        margin: 0 auto;

    }

    .card-container td,
    .card-container th {
        padding: 2px 6px;
        height: 18px;
        font-size: 0.9em;
        line-height: 1.1;
        text-align: right;
    }

    .card-container p,
    .card-container h4,
    .card-container b {
        margin: 0;
        padding: 0;
        font-size: 0.95em;
    }


    .error {
        background-color: hsla(0, 72%, 58%, 0.674);
        width: 400px;
        height: 100px;
        border-radius: 12px;
        text-align: center;
        margin: auto;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        display: none;
    }

    .error button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        cursor: pointer;
        border: none;
        color: white;
    }






    @media print {
        body * {
            visibility: hidden !important;
        }




        body.print_cards #preview-section,
        body.print_cards #preview-section * {
            visibility: visible !important;
        }

        .card {
            position: relative;
            /* background-color: hsl(0, 2%, 17%) !important; */
            height: 91mm;
            -webkit-print-color-adjust: exact !important;
            print-color-adjust: exact !important;
        }

/* 

        .card {
            --s: 9px;
            
            --c1: #4f4545;
            --c2: #1c1c1c;

            --_g: #0000 83%, var(--c1) 85% 99%, #0000 101%;
            background:
                radial-gradient(27% 29% at right, var(--_g)) calc(var(--s)/ 2) var(--s),
                radial-gradient(27% 29% at left, var(--_g)) calc(var(--s)/-2) var(--s),
                radial-gradient(29% 27% at top, var(--_g)) 0 calc(var(--s)/ 2),
                radial-gradient(29% 27% at bottom, var(--_g)) 0 calc(var(--s)/-2) var(--c2);
            background-size: calc(2*var(--s)) calc(2*var(--s));
        } */

        /* .card * {
            color: white;
            -webkit-print-color-adjust: exact !important;
            print-color-adjust: exact !important;
        } */

        body.print_cards .card .logo {
            position: absolute;
            width: 50px;
            top: 10px;
            right: 10px;
        }

        body.print_cards #preview-section {
            display: inline-flex !important;
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw;
            background: white;
            box-shadow: none;
        }

        body.print_table #main_table,
        body.print_table #main_table * {
            visibility: visible !important;
        }

        body.print_table #main_table {
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw !important;
            width: 100% !important;
            background: white;
            box-shadow: none;
        }

        body.print_table table {
            width: 100vw !important;
            border-collapse: collapse !important;
            border: 1px solid black;
        }

        body.print_table table td:first-child,
        body.print_table table th:first-child,
        body.print_table table td:last-child {
            display: none !important;
        }

        body.print_table td,
        th {
            border: 1px solid black !important;
        }

        /* Hide the heading specifically if needed */
        main h1 {
            display: none;
        }
        

        
    }
</style>

</html>